body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mapContainer {
  width: 100%;
  background-color: lightblue;
}

.quakeContainer {
  width: 30%;
  padding: 2em;
  margin-left: 10px;
  margin-top: 10px;
  background-color: rgba(209,229,184,0.6);
  position: absolute;
  border-radius: 5%;
}

.quakeImage {
  height: 30px;
  width: 30px;
}

.info {
  padding:10px 20px;
}